.f1 {
	border-radius: 10px;
	white-space: nowrap;
	background-color: #606060;
	margin-bottom: 5px;
	height: 70px;
	width: 100%;
}
.f2 {
	border-radius: 10px;
	text-decoration: none;
	border-width: 0px;
}
.f3 {
	font-family: Arial;
	margin-left: 5px;
	font-size: 30px;
	height: 50px;
	display: inline;
	position: absolute;
	flex-grow: 1; /* Allows the link to take up available space */
    flex-basis: 0;
    overflow-wrap: break-word;
    white-space: normal;
	text-align: center;
}
body {
	margin: 0px;
	padding: 0px;
	margin-top: -16px;
	text-decoration: none;
	color: #ffffff;
	background-color: #303030;
}
body a {
	border-width: 0px;
	text-decoration: none;
	color: #ffffff;
	border-color: none;
}
.a:hover {
	color: rgb(255 255 255);
	background-color: #cfcfcf;
	border-radius: 100px; 
}
.a {
	border-radius: 0px;
	display: inline;
	height: 40px;
	width: 40px;
	margin: 0 3;
	color: rgb(0 0 0);
	position: relative;
	left: 10px;
	
}
.hej {
	position: relative;
	float: right;
	margin: 0 12px;
	border-radius: 20px;
	width: 200px;
	height: 400px;
	background: #4b4b4b;
}

.dtr2:hover {
	background: #6f6f6f;
}
.dtr2 {
	height: 150px;
	width: 100%;
	background-color: #4f4f4f;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: black;
	border-radius: 25px 0 0 25px;
}
.opb {
	width: auto;
	height: 45px;
	position: relative;
	background-color: #757474;
	border-radius: 20px 20px 0 0;
}
.e {
	position: relative;
	color: white;
	left: 160px;
	text-decoration: none;
	border-radius: 25px;
	width: 500px;
}
.f {
	position: relative;
	bottom: 92px;
	border-radius: 25px;
}
.k {
	position: absolute;
	bottom: 60px;
	left: -20%;
}
.l {
	position: absolute;
	margin: 0 38%;
}
.owo {
	position: absolute;
	left: 10px;
	top: -20px;
}
.space20px {
	height: 20px;
}
.cmnt {
	display: block;
	background-color: #505050;
	width: 100%;
	text-align: center;
	height: 60px;
	font-size: 20px;
	align-items: center;
}
.links {
	margin-top: 16px;
	font-family: Arial;
	padding-top: 17px;
	align-items: center;
}
.links * {
	padding-left: 10px;
	padding-right: 10px;
}
#Welcometext {
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black;
}
#rctlolniceepicsrlg {
	text-shadow: 
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black;
}
.yes *{
	font-size: 25px;
}