body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	color: snow;
    background-color: #353535;
}
body a {
	color: white;
}
.mainbar {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #303030;
}
.mainbar * {
    color: snow;
    display: flex;
}
.a {
    display: flex;
    width: 100%;
    height: 100%;
    color: snow;
    text-decoration: none;
}
.content {
    padding-top: 40px;
    width: 100%;
    grid-area: content;
}
.links {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}
.links a {
    padding-right: 20px;
    text-decoration: none;
}